<p id="notice"><%= notice %></p>

<h1>Job Applications</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Applicant</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.body %></td>
        <td><%= job_application.user.email %></td>
        <td><%= link_to 'Show', job_post_job_application_path(@job_post, job_application) %></td>
        <td><%= link_to 'Destroy', job_post_job_application_path(@job_post, job_application), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
