<h1>Application for <%= @job_post.title %></h1>

<p>
  <strong>Applicant:</strong>
  <%= @job_application.user.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @job_application.body %>
</p>

<% if @job_application.cv.attached? %>
  <p>
    <strong>Attached CV</strong>
    <%= link_to "Download", rails_blob_path(@job_application.cv, disposition: "attachment") %>
  </p>
<% end %>

<%= link_to 'Back', job_post_job_applications_path(@job_post) %>
