<%= form_with(model: job_post, local: true) do |form| %>
  <% if job_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_post.errors.count, "error") %> prohibited this job_post from being saved:</h2>

      <ul>
        <% job_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
