<h1>Job posts</h1>

<div id="job_posts">
  <% @job_posts.each do |job_post| %>

    <%= render job_post %>

    <p>
      <%= link_to "Show this job post", job_post %>

      <% if current_user&.admin? %>
        <%= link_to 'Applications', job_post_job_applications_path(job_post) %>
        <%= link_to 'Edit', edit_job_post_path(job_post) %>
        <%= link_to 'Destroy', job_post, method: :delete %>
      <% end %>
    </p>

    <hr class="mb-3" />
  <% end %>
</div>

<%= link_to "New job post", new_job_post_path %>
