<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @job_post.body %>
</p>

<%= link_to 'Edit', edit_job_post_path(@job_post) %> |
<%= link_to 'Back', job_posts_path %>
